* {
    box-sizing: border-box;
}

input:focus {
    outline: none;
}

p {
    margin: 0;
}

ul {
    margin: 0;
}
/*#logo {*/
/*display: block;*/
/*width: 150px;*/
/*height: 150px;*/
/*border: 1px solid pink;*/
/*}*/

/*.gradient {*/
    /*background: #2d6c8a; !* Old browsers *!*/
    /*background: -moz-linear-gradient(top,  #2d6c8a 40%, #528598 100%); !* FF3.6-15 *!*/
    /*background: -webkit-linear-gradient(top,  #2d6c8a 40%,#528598 100%); !* Chrome10-25,Safari5.1-6 *!*/
    /*background: linear-gradient(to bottom,  #2d6c8a 40%,#528598 100%); !* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ *!*/
    /*filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6c8a', endColorstr='#528598',GradientType=0 ); !* IE6-9 *!*/
/*}*/

.main-wrapper {
    display: flex;
    flex-direction: column;
    /*min-height: 100vh;*/
    min-width: 910px;
    /*border: 1px solid red;*/
}

.header-main .inner {
    min-height: 200px;
    background: lightgoldenrodyellow;
}

.header-main, .section-main, .footer-main {
    position: relative;
    min-width: 910px;
    /*border: 1px solid blue;*/
}

.section-main {
    display: flex;
    /*flex-grow: 1;*/
}

.section-main .inner {
    display: flex;
    flex-direction: row;
    min-height: 700px;
}

.inner {
    position: relative;
    margin: 0 auto;
    /*min-height: 150px;*/
    min-width: 910px;
    max-width: 910px;
    background: lightgray;
}

.content {
    display: flex;
    flex-direction: column;
    /*justify-content: space-between;*/
    /*padding: 20px 30px;*/
    min-width: 680px;
    max-width: 680px;
    /*flex-grow: 8;*/
    /*border: 1px solid yellow;*/
    background: lightcyan;
}

.content .row1 {
    display: flex;
    flex-grow: 2;
    justify-content: space-around;
    min-height: 390px;
    max-height: 390px;
    border: 1px solid lightgray;
}

.content .row2 {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;
    min-height: 290px;
    max-height: 290px;
    padding: 5px 150px;
    border: 1px solid lightgray;
}

.columns {
    min-width: 30%;
    border: 1px solid red;

}

.right-menu {
    display: flex;
    flex-direction: column;
    /*flex-grow: 1;*/
    justify-content: space-around;
    min-width: 230px;
    max-width: 230px;
    /*flex-grow: 2;*/
    background: lightblue;
}

.right-menu div {
    min-height: 150px;
    min-width: 50px;
    border: 1px solid crimson;
}

.footer-main .inner {
    min-height: 200px;
    max-height: 200px;
    line-height: 200px;
    background: lightgreen;
}