.sprite-top-marker {
    background: url(../img/top_markers.png) no-repeat;
    display: inline-block;
    margin-left: -15px;
    margin-right: 8px;
}
.sprite-top-marker-home {
    width: 7px;
    height: 10px;
    background-position: -5px -5px;
}
.sprite-top-marker-services {
    width: 7px;
    height: 10px;
    background-position: -22px -5px;
}
.sprite-top-marker-solutions {
    width: 7px;
    height: 10px;
    background-position: -39px -5px;
}
.sprite-top-marker-support {
    width: 7px;
    height: 10px;
    background-position: -56px -5px;
}
.sprite-top-marker-contact_us {
    width: 7px;
    height: 10px;
    background-position: -73px -5px;
}

.sprite-btn {
    background: url(../img/btn.png) no-repeat;
    float: right;
    margin: 19px 19px;
}

.sprite-btn-orange {
    width: 41px;
    height: 41px;
    background-position: -5px -5px;
}

.sprite-btn-blue {
    width: 41px;
    height: 41px;
    background-position: -56px -5px;
}

.sprite-btn-green {
    width: 41px;
    height: 41px;
    background-position: -107px -5px;
}

.sprite-star {
    background: url(../img/star.png) no-repeat;
}

.sprite-star-orange {
    min-width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-star-green {
    min-width: 16px;
    height: 16px;
    background-position: -31px -5px;
}

.sprite-bottom-markers {
    background: url(../img/bottom_markers.png) no-repeat;
    /*display: block;*/
    float: left;
}

.sprite-bottom-markers-purple {
    width: 9px;
    height: 9px;
    background-position: -5px -5px;
}

.sprite-bottom-markers-orange {
    width: 9px;
    height: 9px;
    background-position: -24px -5px;
}

.sprite-bottom-markers-green {
    width: 9px;
    height: 9px;
    background-position: -43px -5px;
}
