.sprite-top-markers {
    background: url(../img/top_markers.png) no-repeat;
    display: inline-block;
    margin-left: -15px;
    margin-right: 8px;
}
.sprite-home {
    width: 7px;
    height: 10px;
    background-position: -5px -5px;
}
.sprite-services {
    width: 7px;
    height: 10px;
    background-position: -22px -5px;
}
.sprite-solutions {
    width: 7px;
    height: 10px;
    background-position: -39px -5px;
}
.sprite-support {
    width: 7px;
    height: 10px;
    background-position: -56px -5px;
}
.sprite-contact_us {
    width: 7px;
    height: 10px;
    background-position: -73px -5px;
}



.sprite-btn {
    background: url(../img/btn.png) no-repeat;
    float: right;
    margin: 19px 19px;
}

.sprite-btn-orange {
    width: 41px;
    height: 41px;
    background-position: -5px -5px;
}

.sprite-btn-blue {
    width: 41px;
    height: 41px;
    background-position: -56px -5px;
}

.sprite-btn-green {
    width: 41px;
    height: 41px;
    background-position: -107px -5px;
}


.sprite-star {
    background: url(../img/star.png) no-repeat;
}

.sprite-star-orange {
    min-width: 16px;
    height: 16px;
    background-position: -5px -5px;
}

.sprite-star-green {
    min-width: 16px;
    height: 16px;
    background-position: -31px -5px;
}
