body {
    height: 1200px;
    margin: 0;
}
.gradient {
    background: #2d6c8a; /* Old browsers */
    background: -moz-linear-gradient(top,  #2d6c8a 40%, #528598 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top,  #2d6c8a 40%,#528598 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom,  #2d6c8a 40%,#528598 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2d6c8a', endColorstr='#528598',GradientType=0 ); /* IE6-9 */
}
.wrapper {
    width: 910px;
    margin: 0 auto;
}

            /*-==HEADER BEGIN==-*/

header {
    margin-top: 30px;
    /*border: 1px solid black;*/
}
.site-name {
    font-family: Verdana;
    font-size: 24px;
}
.site-name-bottom {
    font-family: Verdana;
    font-size: 14px;
}
.first-letter {
    font-size: 30px;
}

            /*-==HEADER END==-*/


            /*-==MENU BEGIN==-*/
.nav a{
    text-decoration:none;
}
.nav{
    margin-top: 30px;
    height:100px;
    background:#8abbcb;
}
.nav>ul{
    list-style:none;
    padding:0;
    margin:0;
}
.nav>ul>li{
    float:left;
    width: 20%;
    margin-right: -1px;
    border-right: 1px solid #a8cbd6;
    border-bottom: 1px solid #b3d3dd;
}
.nav>ul>li:last-child{
    border-right: none;
}
.nav>ul>li>a{
    padding:0 20px;
    color:#fff;
    display:block;
    line-height:99px !important;
    font:400 12px 'Verdana', sans-serif;
    text-transform:uppercase;
    text-align: center;
    vertical-align: middle;
}
            /*-==MENU END==-*/

            /*MAIN BEGIN*/

.main {
    position: relative;
    width: 680px;
    height: 700px;
    background-color: #ffffff;
    /*font-size: 0px;*/

}
.info-block {
    float: left;
    display: block;
    width: 200px;
    height: 390px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 0px;
    padding: 0px;
    background-color: #e6f4fd;
    /*font: 12px 'Verdana', sans-serif;*/
}
.main.info-block ul {

}
            /*MAIN END*/

            /*ASIDE BEGIN*/

.side-panel {
    float: right;
    display: block;

}

            /*ASIDE END*/